{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h2>Presentation</h2>
    <p>Welcome to our cloud data subscription platform, your destination for seamless data management in the cloud. Our site offers flexible subscription plans tailored to your needs, allowing you to harness the power of cloud data storage effortlessly.</p>

    <p>Whether you're an individual user or a business in need of scalable cloud solutions, our subscription plans cater to every requirement. Explore our offerings and embark on a journey of efficient and secure cloud data management.</p>

</div>
{% endblock %}
